<h1 class="new_innov">Ajouter votre nouvelle innovation</h1>

<%= render 'form', innovation: @innovation %>


 <%= link_to 'Retour au musée'.html_safe,  innovations_path, class: 'bouton_retourmusee btn btn-primary' %>
